Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  misc-*,
  portability-*,
  cppcoreguidelines-*,
  modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-identifier-naming

WarningsAsErrors: '*'

CheckOptions:
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable

  - key:             modernize-use-nullptr.NullMacros
    value:           NULL

  - key:             modernize-use-trailing-return-type.MinimalTypeLength
    value:           0

  - key:             readability-identifier-naming.ClassCase
    value:           PascalCase

  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack

  - key:             readability-identifier-naming.VariableCase
    value:           camelBack

  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m_

  - key:             cppcoreguidelines-owning-memory
    value:           true

  - key:             readability-identifier-naming.LocalVariableCase
    value:           camelBack

  - key:             readability-identifier-naming.LocalVariableSuffix
    value:           _